.search-container {
    margin-top: 20px;
    overflow: auto;
}

.search-input {
    width: 240px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

.save-controls {
    width: 450px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 25px;
}

.save-search {
    font-size: 15px;
    width: 50%;
    background-color: #e3e3e3;
    border: none;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    margin-right: 5px;
}